body {
  margin: auto;
  width: 960px;
  font-family: Helvatica, Arial, sans-serif;
}

h1, h2, a {
  color: #1a1522;
}

#content {
  margin-top: 50px;
}

.img {
  float: left;
}

/* =============
На главную
============= */
.back-main {
  font-size: 14px;
  border: 1px solid black;
  border-radius: 25px;
  padding: 5px;
  text-decoration: none;
}

#back {
  margin: 0 auto 30px 500px;
}
